@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10)
}

nav .headline {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}

nav {
    display: flex;
    margin-left: 230px;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    margin-right: 240px;
    gap: 50px;

}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;

}

.banner {
    margin-left: 560px;
    margin-right: 560px;

    /* max-width: 860px; */
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner-input {
    text-align: center;
    margin-top: 35px;




}

.btn-primary {
    padding: 25px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;


}

.banner-image {
    text-align: center;
    margin-top: 50px;



}

.ban {
    width: 1440px;
    height: 700px;
    margin-bottom: 40px;

}

main {
    max-width: 1400px;
    margin: 0 auto;
}

.main-1st-part {
    display: flex;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-1st-part {
    align-items: center;
    margin-top: 50px;
}

.main-2nd-part {
    padding-left: 70px;
    padding-right: 70px;
}

.main-2nd-part>h2 {
    width: 468px;
}

.s-1 {
    font-size: 45px;
    font-weight: 500;
    color: #727272;

}

.s-2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.s-3 {
    font-size: 45px;
    font-weight: 700;
    color: #FF900E
}

.main-2nd-part>p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.fact-container {
    margin-top: 100px;
}

.fact-element {
    text-align: center;
}

.fact-title {
    color: #131313);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fact-des {
    width: 540px;
    margin-bottom: 200px;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;

}

.card {
    margin-top: 50px;
    border: 5px solid tomato;
    border-radius: 5px;
    text-align: center;
    padding: 80px;



}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mar-1 {
    margin-top: -1px;
    margin-bottom: -1px;
}

.sponsor-container {
    text-align: center;
    margin-top: 170px;
}

.sponsor-title {
    color: #131313;
    font-size: 45px;
}

.sponsor-para {
    width: 540px;
    margin-right: 50%;
    margin-left: 50%;
    margin: auto;
    margin-top: -20px;
}

.sponsor-image {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;

}

footer {
   
    
    background: #FFF4E7;
    padding: 5px;
  
    border-radius: 10px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.footer-des {
    color: #424242);
    text-align: center;
     font-size: 20px;
     font-weight: 400;
    
}



@media screen and (max-width:700px) {
    nav {
        margin-left: 5px;
        flex-direction: column;
        font-weight: 700;
    }

    .banner {
        margin-left: 1px;
        margin-right: 1px;
        width: 100%;
    }

    .ban {
        width: 500px;
        height: 250px;    }

    nav>ul {
        margin-right: 1px;
    }

    .main-1st-part {
        flex-direction: column;
    }

    .team-container {
        grid-template-columns: 1fr;
    }

    .icon-container {
        flex-direction: column;
        gap: 20px;
    }

    .sponsor-image {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        row-gap: 50px;

    }
    .sponsor-para{
        margin-left: 10%;
        margin-right: 70%;
        margin: auto;
    }
    footer{
        width: 200px;
        height: 120px;
    }
.fact-des{
    width: 300px;
}
.sponsor-para {
    width: 300px;
}

    .footer-des{
        width: 200px;
    }
}

@media screen and (min-width:700px) and (max-width:1500px) {
    nav {
        margin-left: 5px;
        flex-direction: column;
    }

    .banner {
        margin-left: 1px;
        margin-right: 1px;
        width: 100%;
    }

    .ban {
        width: 500px;
        height: 250px;
    }

    nav>ul {
        margin-right: 1px;
    }
}